<nav class="navbar-wrapper">
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a  href="/men">
        Men
      </a>
    </li>
    <li>
      <a  href="/women">
        Women
      </a>
    </li>
    <li>
      <a  href="/childern">
        Children
      </a>
    </li>
    <li>
      <a  href="/register">
        register
      </a>
    </li>
  </ul>
</nav>



<!-- <nav className="nav"><a href="/">Home</a> | <a href="men">MEN</a> | <a href="women">WOMEN</a> | <a href="childern">CHILDREN</a></nav> -->